#container {
  width:100%;
  text-align:center;
}


#wdts{
background-color: pink;
}

#container2 {
  width:100%;
  text-align:center;
 display: none;
}

#left {
  float:left;
  width:230px;
  height: 20px;
  background: black;
}

#center {
  display: inline-block;
  margin:0 auto;
  width:400px;
  height: 20px;
  background: black;
}

#right {
  float:right;
  width:200px;
  height: 20px;
  background: black;
}

#camj {
  width:100%;
  text-align:center;
 display: none;
}

@media (max-width: 500px) {                  
  #container {
     display: none;
  }


  
  #container2 {
    visibility: visible;
    display: list-item;
 }

 #camj {
  visibility: visible;
  display: list-item;
}
}