 .u-section-1 {
  background-image: url("images/red2.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-image-1 {
  width: 432px;
  height: 202px;
  margin: 504px 295px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 295px;
  height: 136px;
  margin: -190px -18px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 295px;
  height: 118px;
  margin: -18px auto 60px -45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 288px;
  }

  .u-section-1 .u-image-3 {
    margin: 20px -46px 0 auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 108px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 132px;
    margin-top: 425px;
    margin-right: -61px;
  }

  .u-section-1 .u-image-2 {
    width: 254px;
    height: 109px;
    margin-top: -159px;
    margin-right: auto;
    margin-left: -36px;
  }

  .u-section-1 .u-image-3 {
    width: 268px;
    height: 97px;
    margin-top: -7px;
    margin-right: auto;
    margin-left: -50px;
  }
}